*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
backend/app/data/brain_importance/*.json filter=lfs diff=lfs merge=lfs -text
